<!-- Living World Background Layer -->
<div id="world-layer" aria-hidden="true">
  <div id="world-sky"></div>
  <div id="world-clouds"></div>
  <div id="world-stars"></div>
  <div id="world-water">
    <div class="world-ocean"></div>
    <div class="world-wave world-wave--1"></div>
    <div class="world-wave world-wave--2"></div>
    <div class="world-wave world-wave--3"></div>
    <div class="world-foam"></div>
    <div class="world-shimmer"></div>
  </div>
  <div id="world-sparkles"></div>
</div>
